* {
    padding: 0px;
    margin: 0 auto;
}

#getNFTsFromAddress {
    padding: 10px;
    display: inline;
    background: gold;
    color: white;
    cursor: pointer;
    margin-bottom: 30px;
}

#getAddressList {
    padding: 10px;
    display: inline;
    background: blue;
    color: white;
    cursor: pointer;
}