$fontColor: #000000;
$backgroundColor: #E2E3E5;
$headerFont: 'EB Garamond', serif;
$bodyFont: 'Manrope', sans-serif;
$lightText: #a5a5a5;
$transition: all 0.32s ease-in-out;

* {
    box-sizing: border-box;
    padding: 0px;
}

html, body {
    padding: 0px;
    margin: 0 auto;
    font-family: $bodyFont;
    background: $backgroundColor;
}

h1, h2, h3,h4, h5, h6, p {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 30px;
}

p {
    font-style: 1rem;
}

a {
    color: $fontColor;
}

h1 {
    font-family: $headerFont;
    font-size: 3rem;
    @media only screen and (min-width: 743px) {
        font-size: 4.2rem;
    }
}

h2 {
    font-size: 1.35rem;
    @media only screen and (min-width: 743px) {
        font-size: 2.6rem;
    }
}

.name {
    font-weight: bold;
    font-style: italic;
    font-family: $headerFont;
    margin-bottom: 0px;
    font-size: 1rem;
    @media only screen and (min-width: 743px) {
        font-size: 1.4rem;
    }
}

.sub-title {
    color: $lightText;
}

header {
    max-width: 1560px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;    
    z-index: 22;
    .logo {
        background: $backgroundColor;
        height: 70px;    
        padding: 20px;
        border-radius: 8px;
    }
    ul {
        list-style: none;
        display: flex;
        flex-flow: column;
        @media only screen and (min-width: 743px) {
            flex-flow: row;
        }
        li {
            a {
                text-decoration: none;
                font-family: $headerFont;
                font-weight: 400;
                font-size: 1.2rem;
                cursor: pointer;
                @media only screen and (min-width: 743px) {
                    padding: 0px 20px;
                    transition: $transition;
                    position: relative;
                    top: 0;
                    &:after {
                        content: '';
                        transition: $transition;
                        right: 0;
                        width: 0%;
                        height: 2px;
                        background: $fontColor;    
                        position: absolute;
                        bottom: -10px;
                    }
                    &:hover, &.active {
                        top: -5px;
                        &:after {
                            left: 0;
                            right: auto;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

section {
    max-width: 1260px;
    margin: 0 auto;
    padding: 40px;
}

.intro {
    display: flex;
    justify-content: center;
    flex-flow: column;
    @media only screen and (min-width: 743px) {
        min-height: 750px;
        height: calc(100vh - 250px);
    }
}

#template-target {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    @media only screen and (min-width: 743px) {
        justify-content: space-between;
    }
    .projects {
        cursor: pointer;
        width: 100%;
        .projects-change & {
            max-height: 0px;
            width: 0px;
            transition: all 1s ease-in-out;
            overflow: hidden;
        }
        &.focus {
            max-height: 500px;
            z-index: 5;
            width: 100%;
        }
        max-height: 500px;
        transition: all 0.5s cubic-bezier(0, 1, 0, 1);
        @media only screen and (min-width: 743px) {
            width: calc((100% / 2) - 20px);
            &:hover {
                img {
                    transform: scale(1.052);
                }
            }
        }
        h3 {
            font-size: 2.1rem;
            line-height: 1;
            @media only screen and (min-width: 743px) {
                font-size: 3.5rem;
            }
        }
        p {
            line-height: 1.43;
            font-style: 0.8rem;
        }
        ul {
            list-style: none;
            display: flex;
            gap: 10px;
            flex-flow: row wrap;
            li {
                padding: 5px 15px;
                background: #ededed;
                box-shadow: inset 0px 1px 2.4px rgba(0, 0, 0, 0.19);
                border-radius: 50px;
                font-size: 0.8rem;
                &:before {
                    content: '#';
                }
            }
        }
      figure {    
          margin: 0;
          border-radius: 8px;
          overflow: hidden;
            img {
                width: 100%;
                display: block;
                @media only screen and (min-width: 743px) {
                    transition: $transition;
                    transform: scale(1);
                }
            }
      }
    }
}

footer {
    background-image: url(../img/hassaan-hereunsplashfooterBG.webp);
    min-height: 660px;
    padding-bottom: 40px;
    position: relative;
    background-size: cover;
    .footer-middle {
        text-align: center;
        height: 100vh;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        min-height: 600px;
        h3 {
            font-family: $headerFont;
            font-size: 3rem;
            max-width: 450px;
        }
        p { 
            font-size: 1.6rem;
            max-width: 450px;
            @media only screen and (min-width: 743px) {
                font-size: 2.3rem;
            }
        }
        a {
            font-size: 1.2rem;
            text-decoration: none;
            padding: 20px 40px;
            border-radius: 50px;
            box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.19);
            display: flex;
            align-items: center;
            img {
                height: 1.2rem;
                padding-left: 30px;
                position: relative;
                top: 3px;
            }
            @media only screen and (min-width: 743px) {
                transition: $transition;
                background: transparent;
                &:hover {
                    background: $backgroundColor;
                }
            }
        }
    }
    .footer-end {
        font-size: 0.8rem;
        position: absolute;
        bottom: 0px;
        padding: 10px 40px;
        left: 0;
    }
}