$fontColor: #000000;
$backgroundColor: #E2E3E5;
$headerFont: 'EB Garamond', serif;
$bodyFont: 'Manrope', sans-serif;
$lightText: #a5a5a5;
$transition: all 0.32s ease-in-out;

* {
    box-sizing: border-box;
    padding: 0px;
}

html, body {
    padding: 0px;
    margin: 0 auto;
    font-family: $bodyFont;
    background: $backgroundColor;
}

h1, h2, h3,h4, h5, h6, p {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 30px;
}

p {
    font-style: 1rem;
}

a {
    color: $fontColor;
}

h1 {
    font-family: $headerFont;
    font-size: 3rem;
    @media only screen and (min-width: 743px) {
        font-size: 4.2rem;
    }
}

h2 {
    font-size: 1.9rem;
    @media only screen and (min-width: 743px) {
        font-size: 2.6rem;
    }
}

.name {
    font-weight: bold;
    font-style: italic;
    font-family: $headerFont;
    margin-bottom: 0px;
    font-size: 1rem;
    @media only screen and (min-width: 743px) {
        font-size: 1.4rem;
    }
}

.sub-title {
    color: $lightText;
}

header {
    max-width: 1560px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    .logo {
        height: 30px;
    }
    ul {
        list-style: none;
        display: flex;
        flex-flow: column;
        @media only screen and (min-width: 743px) {
            flex-flow: row;
        }
        li {
            font-family: $headerFont;
            font-weight: 400;
            font-size: 1.2rem;
            cursor: pointer;
            @media only screen and (min-width: 743px) {
                padding: 0px 20px;
                transition: $transition;
                position: relative;
                top: 0;
                &:after {
                    content: '';
                    transition: $transition;
                    right: 0;
                    width: 0%;
                    height: 2px;
                    background: $fontColor;    
                    position: absolute;
                    bottom: -10px;
                }
                &:hover, &.active {
                    top: -5px;
                    &:after {
                        left: 0;
                        right: auto;
                        width: 100%;
                    }
                }
            }
        }
    }
}

section {
    max-width: 1260px;
    margin: 0 auto;
    padding: 40px;
}

#template-target {
    display: flex;
    flex-flow: row;
    .projects {
        width: 100%;
        @media only screen and (min-width: 743px) {
            width: calc((100% / 2) 40px);
        }
    }
}

footer {
    background-image: url(../img/hassaan-hereunsplashfooterBG.webp);
    min-height: 660px;
    padding-bottom: 40px;
    position: relative;
    background-position-y: -100px;    
    background-size: cover;
    .footer-end {
        font-size: 0.8rem;
        position: absolute;
        bottom: 0px;
        padding: 10px 40px;
        left: 0;
    }
}